 .u-section-1 {
  min-height: 520px;
}

.u-section-1 .u-group-1 {
  width: 764px;
  min-height: 359px;
  background-image: none;
  margin: 81px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 44px 0 0 17px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    right: -341px;
  }
} .u-section-2 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 449px);
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 141px);
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 47px auto 0 calc(((100% - 1140px) / 2) + 132px);
  padding: 65px 173px;
}

.u-section-2 .u-image-1 {
  width: 174px;
  height: 174px;
  margin: -196px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 77px calc(((100% - 1140px) / 2) + 470px) 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 370px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 141px);
  }

  .u-section-2 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 270px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 493px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 351px);
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 54px);
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 69px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 512px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + -36px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 531px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: calc(((100% - 340px) / 2) + -33px);
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 43px;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-2 .u-image-1 {
    width: 144px;
    height: 144px;
    margin-top: -193px;
    margin-left: calc(((100% - 340px) / 2) + -107px);
  }

  .u-section-2 .u-btn-2 {
    margin-top: 43px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px 208px 0 auto;
}

.u-section-3 .u-line-1 {
  width: 333px;
  transform-origin: right center;
  margin: 0 71px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 39px 0 688px;
}

.u-section-3 .u-image-1 {
  width: 483px;
  height: 263px;
  margin: -319px auto 56px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-top: 114px;
    margin-right: 87px;
    margin-left: 527px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-right: 7px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 185px;
    margin-top: 29px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 239px;
}

.u-section-4 .u-line-1 {
  width: 333px;
  transform-origin: right center;
  margin: 0 auto 0 101px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 674px 0 53px;
}

.u-section-4 .u-image-1 {
  width: 512px;
  height: 269px;
  margin: -288px auto 60px 575px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-left: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 179px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-line-1 {
    margin-left: 7px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 179px;
    margin-bottom: 42px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 47px 188px 0 auto;
}

.u-section-5 .u-line-1 {
  width: 333px;
  transform-origin: right center;
  margin: 2px 122px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 30px 58px 0 669px;
}

.u-section-5 .u-image-1 {
  width: 542px;
  height: 265px;
  margin: -299px auto 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 87px;
    margin-left: 527px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 141px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 127px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 264px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-right: auto;
  }

  .u-section-5 .u-line-1 {
    margin-top: 0;
    margin-right: 7px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 166px;
  }
}